/* Untuk Tablet */
@media all and (max-width: 1000px) {
  /* Untuk Tablets */
    .lesson {
      width: 50%;
      margin-bottom: 50px;
    }

    .flex-list {
      flex-wrap: wrap;
    }
    .flex-list li {
      width: 50%;
    }
  
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .top-wrapper{
    background-image: url(image/Highlight-M365-Icon-Bounce-Word-Merch\ VP1-539x440.avif);
    background-size: 100%;
    background-clip: border-box;
    height: 300px;
  }
  .main-content{
    padding-top:120px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:120px;
    width:100%;
    border-bottom: #cfcfcf solid;
  }
  .btn-link{
    margin:0 auto;
  }
  .flex-list {
    flex-wrap: wrap;
    flex-direction:column;
  }
  
  .flex-list li {
    width: 50%;
    margin:0 auto;
  }
}