/* Untuk Tablet */
@media all and (max-width: 1000px) {
  /* Untuk Tablets */
    .article {
      width: 50%;
      margin-bottom: 50px;
    }
    .articles{
      margin:0 15px;
    }
    .flex-list {
      flex-wrap: wrap;
    }
    .flex-list li {
      width: 20%;
    }
    .top-wrapper{
      background-size: 100%;
      background-clip: border-box;
      height: 500px;
    }
    .main-content{
      padding-left: 25px;
    }
    .offer-wrap{
      background-size: 100%;
      background-clip: border-box;
      height: 500px;
    }
    .logo{
      margin-left: 25px;
      margin-right: 25px;
    }
    .header-right{
      margin: -25px 5px 0 0;
    }
    header a{
      font-size: 15px;
      padding:0px;
      margin:25px 5px 0 5px;
    }
    .menu-icon{
      display:none;
    }
    .fa {
      display:none;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  h2{
    font-size: 20px;
  }
  .top-wrapper{
    background-image: url(image/Highlight-M365-Icon-Bounce-Word-Merch\ VP1-539x440.avif);
    background-size: 100%;
    background-clip: border-box;
    height: 300px;
  }
  .main-content{
    padding-top:120px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:120px;
    width:100%;
    border-bottom: #cfcfcf solid;
  }
  .btn-link,.btn-wrapper{
    margin: 30px auto;
  }
  .btn-link .link, span{
    color:#0a67b5;
  }
  .flex-list {
    flex-wrap: wrap;
    flex-direction:column;
    max-width:100%;
  }
  .flex-list li {
    width: 100%;
    margin:0 auto;
  }
  .article{
    width: 100%;
    padding-bottom:50px;
  }
  .article h2{
    font-size: 18px;
  }
  .article p{
    font-size: 16px;
  }
  .offer-wrap{
    background-image: url(image/gldn-Hero-MSCOM-Outlook-iOS-Android\ VP1-539x440.avif);
    background-size: 100%;
    padding-bottom:20px;
    background-clip: border-box;
    height: 300px;
  }
  .offer-desc{
    padding-top:110px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    width:100%;
  }
  .article-bussiness{
    margin-top: 200px;
  }
  .message-wrapper{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  input, textarea{
    width: 100%;
  }
  .contact-submit{
    width: 100%;
  }
  .logo{
    text-align: center;
    margin: 0 10px;
  }
  .search{
    text-align: left;
  }
  .menu-icon {
    display:block;
  }
  .header-left{
    display:none;
  }
  .header-right{
    margin: -25px 5px 0 0;
  }
  header a{
    font-size: 12px;
    padding:0px;
    margin:25px 0 0 0;
  }
}