/* Untuk Tablet */
@media all and (max-width: 1000px) {
  /* Untuk Tablets */
    .lesson {
      width: 50%;
      margin-bottom: 50px;
    }

    .flex-list {
      flex-wrap: wrap;
    }
    .flex-list li {
      width: 50%;
    }
  
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .flex-list {
    flex-wrap: wrap;
    flex-direction:column;
  }
  
  .flex-list li {
    width: 50%;
    margin:0 auto;
  }
}