* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Arial, Helvetica, sans-serif";
}

a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 auto;
  margin: 0 auto;
}

.top-wrapper {
  background-image: url(image/Highlight-M365-Icon-Bounce-Word-Merch\ VP4-1399x600.avif);
  background-size: cover;
}
.top-wrapper h1 {
  padding-top: 175px;
  padding-bottom: 20px;
  font-size: 30px;
  font-family: 'Franklin Gothic';
  font-weight: normal;
}
.top-wrapper p{
  font-family: 'Arial';
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
}
.leasson-wrapper {
  height: 500px;
  padding-bottom: 80px;
}

.btn-wrapper{
  padding-right: 20px;
}
.main img{
  padding-top: 63px;
  background-image: none;
}
.btn-wrapper,.btn-link {
  margin: 30px 0;
  float: left;
}

.btn {
  padding: 12px 24px;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  border-radius: 4px;
  padding-right: 20px;
}
.link{
  font-family: 'franklin Gothic';
  color: rgb(0, 0, 0);
}
.link:hover{
  color: black ;
  text-decoration: underline;
  padding-right: 5px;
}
.btn:hover {
  opacity: 1;
}
.button {
  background-color: #0a67b5;
  cursor: pointer;
}

.contact-form {
  padding-top: 100px;
}

.heading {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

input,
textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #001c31;
}

.contact-submit {
  background-color: #0067b8;
  color: #fdfeff;
  opacity: 0.8;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 7px #003e6d;
}

.contact-submit:hover {
  opacity: 1;
}

.contact-submit:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

/* Tambahkan CSS untuk menu-icon */
.menu-icon {
  color: gray;
  float: left;
  font-size: 25px;
  padding: 21px 0;
  /* Gantikan property display ke none */
  display:none;
}

.product-offer{  
  width: 100%;
}

.offer-list{
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: content-box;
}

ul{
  list-style: none;
  margin: 0px;
  text-align: center;
  padding: 40px 0;
}
.flex-list{ 
  display: flex;
  max-width: 67%;
  margin: 0 auto;
}

.flex-list li{
  flex: 1 1 auto;
  max-width: auto;
  width: 20%;
}

.flex-list a{
  color: #0067b8;
  font-weight:bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: underline;
}

.flex-icon{
  padding: 10px;
}

.li1 p{
  margin: 0px;
}

.li2 p{
  margin: 0px;
}

.li3 p{
  margin: 0px;
}

.list{
  padding: 0px;
  box-sizing: content-box;
}

.article{
  float: left;
  width: 25%;
  padding: 0 10px;
  cursor: pointer;
}

.article img{
  width: 100%;
  height: 100%;
}

.article h2{
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

.article p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.article a, span{
  color: #0067b8;
  font-weight:bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.article a:hover{
  text-decoration: underline;
  padding-right: 5px;
}

.arrow{
  margin-left: 5px;
}

.outlook-offer{
  margin: 60px 0 30px 0;
}

.offer-wrap{
  background-image: url(image/gldn-Hero-MSCOM-Outlook-iOS-Android\ VP4-1260x600.webp);
  background-size: cover;
  padding: 180px 0 190px 0;
  cursor: pointer;
}

.offer-desc{
  padding: 15px 100px 15px 100px;
  width:49%;
}

.offer-desc h2, p, a{
  font-family: Arial;
}

.offer-title{
  font-size: 25px;
}

.offer-btn a{
  display: inline-block;
  background-color: #0067b8;
  color: white;
  padding: 15px;
  font-size:15px;
  font-weight:bold;
}

.article-bussiness{
  padding:60px 0 90px 0;
}

.art-bus-title{
  padding:0 10px;
  font-family: Arial;
  font-size: 20px;
}

.message-wrapper{
  margin: 60px;
}

/* Untuk Header */
header {
  height: 65px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -55px;
}

.logo {
  width: 124px;
  height: 45px;
  padding-top: 20px;
  float: left;
}

header a{
  display: inline-block;
  color: grey;
  padding: 0 15px;
  margin-top: 25px;
}
.header-right{
  padding-top: 15px;
  margin-top: -23px;
}

header a:hover{
  color: grey;
  text-decoration: underline;
}

i{
  color: grey;
  padding: 0 10px 0 0;
}

footer ul{
  padding: 5px 0;
}
.footer-bottom{
  height: 1px;
}

.footer-bottom p, a, span{
  font-size: 12px;
  color:#646464;
}
.footer-bottom li{
  padding: 10px;
}
.lang-icon{
  padding: 0;
  float: left;
}
.lang{
  padding: 5px 5px 0 0;
  float: left;
}
.lang-right li{
  float: right;
}
.lang-left p{
  margin: 0 0 0 0;
}
.lang-right p{
  margin: 5px 0 0 0;
}
.lang-left{
  float:left;
}
.lang-right a:hover{
  text-decoration: underline;
  color: black;
}
.lang-right{
  float:right;
}
.footer {
  position: relative;
  background-color: #f0f0f0;
  bottom: 0;
  padding: 70px 0;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  font: bold 18px sans-serif;
  padding: 50px 50px 60px 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: auto;
}

ul {
  list-style: none;
}

.footer-col {
  width: 16%;
  padding: 0 10px;
  float: left;
}

.footer-col h4 {
  font-size: 15px;
  color: rgb(43, 43, 43);
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: bold;
  position: relative;
  text-align: left;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col li{
  text-align: left;
}
.footer-col ul li a {
  font-size: 12px;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 100;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: black;
  padding-left: 8px;
}
