* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 auto;
  margin: 0 auto;
}
.top-wrapper {
  padding: 2px 0 0 0;
  background-color: #afd4f7;
}
.top-wrapper h1 {
  margin-top: 175px;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: 'Franklin Gothic';
  font-weight: normal;
}
.top-wrapper p{
  font-size: 20px;
  font-family: 'Arial';
  font-size: 16px;
  font-weight: normal;
}
.leasson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #afd4f7;
}
.main{
  float: left;
  width: 50%;
}
.main img{
  padding-top: 63px;
  background-image: none;
}
.btn-wrapper {
  margin: 30px 0;
}

.link:hover{
  padding-right: 5px;
}

.btn {
  padding: 12px 24px;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  border-radius: 4px;
  padding-right: 20px;
}
.link{
  padding-left: 20px;
  font-family: 'franklin Gothic';
  color: rgb(0, 0, 0);
}
.link:hover{
  color: black ;
  text-decoration: underline;
}
.btn:hover {
  opacity: 1;
}
.button {
  background-color: #0a67b5;
  cursor: pointer;
  box-shadow: 4px 2px #1c2a35;
}

.contact-form {
  padding-top: 100px;
}

.heading {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

input,
textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
  opacity: 0.8;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 7px #819dad;
}

.contact-submit:hover {
  opacity: 1;
}

.contact-submit:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

.product-offer{  
  width: 100%;
}

.offer-list{
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: content-box;
}

ul{
  list-style: none;
  margin: 0px;
  text-align: center;
  padding: 40px 0;
}
.flex-list{ 
  display: flex;
  max-width: 67%;
  margin: 0 auto;
}

.flex-list li{
  flex: 1 1 auto;
  max-width: auto;
  width: 20%;
}

.flex-list a{
  color: #0067b8;
  font-weight:bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: underline;
}

.flex-icon{
  padding: 10px;
}

.li1 p{
  margin: 0px;
}

.li2 p{
  margin: 0px;
}

.li3 p{
  margin: 0px;
}

.list{
  padding: 0px;
  box-sizing: content-box;
}

.article{
  float: left;
  width: 25%;
  padding: 0 10px;
  cursor: pointer;
}

.article img{
  width: 100%;
  height: 100%;
}

.article h2{
  line-height: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.article p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.article a, span{
  color: #0067b8;
  font-weight:bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.article a:hover{
  text-decoration: underline;
  padding-right: 5px;
}

.arrow{
  margin-left: 5px;
}

